*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1f2934;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    color: #f9f9fb;
    width: 90%;
    max-width: 800px;
    height: 400px;
    background-image: linear-gradient(rgba(46, 55, 60, 0.8),rgba(50, 35, 50, 0.6)), url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    padding-top: 50px;
    
}

.digit{
    font-size: 100px;
    font-weight: bold;
}

.txt{
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

#btn-container{
    text-align: center;
    margin-top: 150px;

}


.btn{
    padding: 7px 25px;
    font-size: 20px;
    margin: 0px 10px;
    color:  white;
    border: 0px;
    cursor: pointer;
}

#stop{
    background-color: #1abc9c;
}
#start{
    background-color: #3498db;
}
#reset{
    background-color: #e74c3c;
}